[Unit]
Description=University Gunicorn
After=network.target postgresql.service

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/university
Environment="DJANGO_ENV=production"
Environment="PATH=/var/www/university/venv/bin"
Environment="DJANGO_SECRET_KEY=YOUR_SECRET_KEY"
Environment="DB_NAME=university_db"
Environment="DB_USER=fefu_user"
Environment="DB_PASSWORD=strong_password_here"
Environment="DB_HOST=localhost"
Environment="DB_PORT=5432"

ExecStart=/var/www/university/venv/bin/gunicorn \
    --config /var/www/university/deploy/gunicorn/config.py \
    webtech_lab1.wsgi:application

Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
