{% extends 'university/base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<section class="contact">
    <h2>Свяжитесь с нами</h2>
    <form method="post">
        {% csrf_token %}
        <label for="name">Имя:</label>
        <input type="text" name="name" id="name" required>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>

        <label for="message">Сообщение:</label>
        <textarea name="message" id="message" rows="5" required></textarea>

        <button type="submit">Отправить</button>
    </form>
</section>
{% endblock %}
