{% extends "university/base.html" %}
{% block title %}{{ student.full_name }}{% endblock %}
{% block content %}
<h1>{{ student.full_name }}</h1>
<p><strong>Email:</strong> {{ student.email }}</p>
<p><strong>Факультет:</strong> {{ student.get_faculty_display }}</p>
<p><strong>Год регистрации:</strong> {{ student.created_at }}</p>

<h3>Записи на курсы</h3>
<ul>
  {% for e in enrollments %}
    <li>{{ e.course.title }} — {{ e.get_status_display }} ({{ e.created_at.date }})</li>
  {% empty %}
    <li>Нет записей</li>
  {% endfor %}
</ul>
{% endblock %}